@media screen {
    #advanced-search #datetime-queries .value:first-child select:nth-child(2) {
        margin-left: 0;
    }
    #advanced-search #datetime-queries .query-text:disabled {
        display: none;
    }
    #advanced-search .multi-value .value:first-child .chosen-container-single-nosearch:first-of-type,
    #advanced-search .multi-value .value:first-child .joiner:first-of-type {
       display: none;
    }
}
