@media screen {
    .form-search {
        margin-bottom: 24px;
    }
    .form-search fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }
    .form-search input[type="search"] {
        appearance: none;
        border-radius: 0;
        height: 36px;
        border: 1px solid rgba(0,0,0,.15);
        padding: 6px;
        width: 100%;
        min-height: 36px;
        margin: 0;
    }

    #search-filters {
        margin: 36px 0;
}
    #search-filters .filter {
        display: flex;
        margin-bottom: 0;
        margin-left: 30%;
        padding-bottom: 6px;
        padding-left: 1.69492%;
    }
    #search-filters .filter:first-of-type {
        padding-top: 6px;
    }
    #search-filters .filter select,
    #search-filters .filter input {
        margin-top: 0;
        margin-right: 6px;
        margin-left: 6px;
        min-width: 0;
    }
    #search-filters .filter select:nth-of-type(1) {
        min-width: 36px;
        margin-left: 0;
    }
    #search-filters .filter select:nth-of-type(2) {
        min-width: 72px;
    }
    #search-filters .filter select:nth-of-type(3) {
        min-width: 48px;
    }
    #search-filters .filter input {
        width: calc( 100% - 200px );
        margin-right: 0;
    }

    .form-search label.search-submit {
        display: none;
    }
    .form-search button.search-submit {
        float: right;
    }

    .search-results-wrapper {
        display: flex;
    }
    .search-results {
        flex-grow: 1;
    }
    .search-results-header {
        display: flex;
        justify-content: space-between;
    }
    .search-view-type.active {
        font-weight: bold;
    }

    .search-facets {
        flex-basis: 25%;
        order: -1;
        padding: 0 0.5em;
        min-width: 240px;
    }

    .search-facets-active {
        list-style: none;
        padding-left: 0;
    }
    .search-facets-active li {
        list-style: none;
        margin: 4px 0
    }
    .search-facets-active li a {
        color: #4D4D4D;
        font-size: 0.75em;
        display: inline-block;
        padding: 9px 12px 9px 8px;
        background: #ecebeb;
        margin-right: 9px;
    }
    .search-facets-active li a::after {
        content: "x";
        float: right;
        padding-left: 9px;
    }

    .search-facets .search-facets-list {
        padding-left: 0;
    }
    .search-facet {
        display: block;
    }
    .search-facet > h3 {
        margin-bottom: 0.5em;
    }
    .search-facet-items {
        padding-left: 0;
    }
    .search-facet-item {
        display: block;
    }
    .search-facet-item input[type=checkbox] {
        vertical-align: initial;
    }
    .search-facet-item a::before {
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        width: 1.5em;
        content: "\f0c8";
    }
    .search-facet-item .active a::before {
        content: "\f14a";
    }

    .search-results .resource-list {
        display: flex;
    }
    .search-results .resource-list.list {
        flex-direction: column;
    }
    .search-results .resource-list.grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-items: stretch;
        align-content: start
    }
    .search-results .resource-list.grid > * {
        flex: 0 0 auto;
        margin: 6px;
    }
    .search-results .resource-list.grid .resource {
        width: auto;
        display: initial;
        padding-top: 29px;
        padding-right: 29px;
    }
    .search-results ul.resource-list.grid .resource:first-child {
        border-top: none;
    }
    .search-results .resource-list.grid .resource-thumbnail {
        display: flex;
        justify-content: center;
        padding: 29px 0;
    }
    .search-results .resource-list.grid .resource-thumbnail img {
        height: auto;
        max-height: 200px;
        width: 100%;
        max-width: 200px;
        margin: 0;
        padding: 0;
    }
    .search-results .resource-list.grid .resource-metadata {
        max-width: 224px;
    }
    .search-results .resource-list.grid .description {
        display: none;
    }

    .autocomplete-suggestions {
        border: 1px solid #999999;
        background: #ffffff;
        overflow: auto;
    }
    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
        /* Fix safari */
        cursor: pointer;
    }
    .autocomplete-selected {
        background: #f0f0f0;
    }
    .autocomplete-suggestions strong {
        font-weight: normal;
        color: #3399FF;
    }
    .autocomplete-group {
        padding: 2px 5px;
    }
    .autocomplete-group strong {
        display: block;
        border-bottom: 1px solid #000;
    }
}
