@media all {
    /* From omeka main styles. */
    .collapse + .collapsible {
        display: block;
        clear: both;
    }
    .collapsible {
        display: none;
    }

    [hidden],
    .hidden {
        display: none;
    }

    /* Search form */
    .form-search {
        margin-bottom: 24px;
    }
    .form-search fieldset {
        border: 0;
        margin: 0 0 36px;
        padding: 0;
    }
    .form-search fieldset > fieldset{
        margin: 0;
    }
    .form-search input[type="search"] {
        appearance: none;
        border-radius: 0;
        height: 36px;
        border: 1px solid rgba(0,0,0,.15);
        padding: 6px;
        width: 100%;
        min-height: 36px;
        margin: 0;
    }
    .form-search label.search-submit {
        display: none;
    }
    .form-search button.search-submit {
        float: right;
    }
    .form-search .chosen-container-single .chosen-single,
    .form-search .chosen-container-multi .chosen-choices {
        height: 36px;
    }

    /* Search form filters */

    #search-filters {
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;
    }
    #search-filters > .search-filter-action {
        display: inline-block;
        align-self: flex-end;
        order: 2;
        width: fit-content;
        margin: 6px 6px 0 0;
    }
    #search-filters .filter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        /*
        margin-left: 30%;
        padding-bottom: 6px;
        padding-left: 1.69492%;
        */
        padding: 6px;
    }
    #search-filters .filter[hidden=hidden] {
        display: none;
    }
    #search-filters .filter:first-of-type {
        padding-top: 6px;
    }
    #search-filters .filter select,
    #search-filters .filter input {
        margin-top: 0;
        margin-right: 6px;
        margin-left: 6px;
        min-width: 0;
    }
    #search-filters .filter select:nth-of-type(1) {
        min-width: 36px;
        margin-left: 0;
    }
    #search-filters .filter select:nth-of-type(2) {
        min-width: 72px;
    }
    #search-filters .filter select:nth-of-type(3) {
        min-width: 48px;
    }
    #search-filters .filter input {
        width: calc( 100% - 200px );
        margin-right: 0;
    }
    /* Buttons remove/add a filter. */
    #search-filters .filter .field {
        background-color: inherit;
        padding: 0;
        margin: 0 0 0 6px;
        width: auto;
    }
    #search-filters .filter .field .field-meta {
        display: none;
    }
    #search-filters .filter > input[type=text] {
        margin-right: 6px;
    }
    #search-filters .filter .field .inputs button {
        margin: 0;
    }

    /* Search results */

    /* The wrapper divides main results and aside for facets. */
    .search-results-wrapper {
        display: flex;
    }

    .search-results {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    /* Search results header and footer */

    .search-results-header,
    .search-results-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .search-results .search-filters {
        width: 100%;
        flex: 0 0 100%;
    }
    .search-results .search-filters .filter a::after {
        content: "×";
        color: initial;
        margin: -3px 6px auto;
    }

    .search-view-type.active {
        font-weight: bold;
    }

    /* Search results (list and grid) */

    .search-results .resource-list {
        display: flex;
    }
    .search-results-count.no-total-results .row-count {
        display: none;
    }
    .search-results .resource-list .resource-heading {
        font-weight: bold;
    }
    /* Search results (list) */
    .search-results .resource-list.list {
        flex-direction: column;
    }
    .search-results .resource-list.list .resource {
        display: flex;
        flex-flow: row wrap;
    }
    .search-results .resource-list.list .resource-thumbnail {
        flex-basis: 120px;
    }
    .search-results .resource-list.list .resource-heading {
        flex-basis: calc(100% - 120px);
    }
    .search-results .resource-list.list .resource-metadata,
    .search-results .resource-list.list .resource-body {
        flex-basis: 100%;
    }
    /* Search results (grid) */
    .search-results .resource-list.grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-items: stretch;
        align-content: start;
        gap: 18px 18px;
        padding: initial;
        margin: initial;
    }
    .search-results .resource-list.grid .resource {
        display: flex;
        flex-flow: column wrap;
        flex: 1 1 200px;
        row-gap: 6px;
        align-items: flex-start;
        width: 0;
        margin: 0;
        padding: 0 0 12px;
    }
    .search-results .resource-list.grid .resource-thumbnail {
        display: flex;
        justify-content: center;
    }
    .search-results .resource-list.grid .resource-thumbnail img {
        height: auto;
        max-height: 200px;
        width: 100%;
        max-width: 200px;
        margin: 0;
        padding: 0;
    }
    .search-results .resource-list.grid .resource-heading {
        justify-content: center;
    }
    /* .resource-metadata is kept for now, but deprecated and replaced by resource-body. */
    .search-results .resource-list.grid .resource-metadata,
    .search-results .resource-list.grid .resource-body {
        display: none;
    }

    /* Active facets */

    .facets-active {
        display: inline-block;
        flex: 0 0 100%;
        width: 100%;
        list-style: none;
        margin: 0 0 6px;
        padding-left: 0;
    }
    .facets-active .facet-active {
        display: inline-block;
        font-size: 13.08px;
        margin: 0 6px 6px 0;
        padding: 0;
        vertical-align: top;
        background-color: #f0f0f0;
        border-radius: 3px;
    }
    .facets-active .facet-active .facet-active-label {
        padding: 0 6px;
        display: inline-block;
        background-color: rgba(0,0,0,.04);
        border-radius: 3px 0 0 3px;
    }
    .facets-active .facet-active .facet-active-value {
        padding: 0 6px;
    }
    .facets-active .facet-active .facet-active-value::after {
        content: "x";
        color: initial;
        margin: -3px 6px auto;
    }

    /* Search facets */

    .search-facets {
        flex-basis: 18.75%;
        order: -1;
        padding: 0 0.5em;
        min-width: 240px;
        max-width: 400px;
    }

    .facets .facets-list {
        padding-left: 0;
    }
    .facet {
        display: block;
        margin-bottom: 1em;
    }
    .facets h3,
    .facets h4,
    .facet h3,
    .facet h4 {
        margin-bottom: 0.5em;
    }
    .facets .facet-button {
        display: block;
        background: initial;
        border: none;
        border-bottom: 1px inset transparent;
        box-shadow: initial;
        text-align: initial;
        cursor: pointer;
        width: 100%;
        padding: 0;
        margin: 0 0 0.5em 0;
        font-weight: bold;
    }
    .facets .facet-button:hover {
        box-shadow: initial;
        border-bottom: 1px inset;
        border-radius: 0;
    }
    /* Don't use font-awasome glyph, that may be unavailable in public site. */
    .facets .facet-button::after {
        float: right;
        content: '';
        position: unset;
        width: 12px;
        height: 12px;
        background: url(../img/caret-down-solid.svg) top left no-repeat;
        padding: 3px;
        border: none;
    }
    .facets .facet-button.collapse::after {
        background-image: url(../img/caret-down-solid.svg);
    }
    .facets .facet-button.expand::after {
        background-image: url(../img/caret-right-solid.svg);
    }

    .facet-items {
        padding-left: 0;
        list-style: none;
    }
    .facet-items li[data-level="1"] a,
    .facet-items li[data-level="1"] input {
        margin-left: 12px;
    }
    .facet-items li[data-level="2"] a,
    .facet-items li[data-level="2"] input {
        margin-left: 24px;
    }
    .facet-items li[data-level="3"] a,
    .facet-items li[data-level="3"] input {
        margin-left: 36px;
    }
    .facet-items li[data-level="4"] a,
    .facet-items li[data-level="4"] input {
        margin-left: 48px;
    }
    .facet-items li[data-level="5"] a,
    .facet-items li[data-level="5"] input {
        margin-left: 60px;
    }
    .facet-items li[data-level="6"] a,
    .facet-items li[data-level="6"] input {
        margin-left: 72px;
    }
    .facet-items li[data-level="7"] a,
    .facet-items li[data-level="7"] input {
        margin-left: 84px;
    }
    .facet-items li[data-level="8"] a,
    .facet-items li[data-level="8"] input {
        margin-left: 96px;
    }
    .facet-items li[data-level="9"] a,
    .facet-items li[data-level="9"] input {
        margin-left: 108px;
    }
    .facet-items li[data-level="10"] a,
    .facet-items li[data-level="10"] input {
        margin-left: 120px;
    }
    .facet-items li[data-level="11"] a,
    .facet-items li[data-level="11"] input {
        margin-left: 132px;
    }
    .facet-items li[data-level="12"] a,
    .facet-items li[data-level="12"] input {
        margin-left: 144px;
    }
    .facet-item input[type=checkbox] {
        vertical-align: initial;
    }
    .facet-item a {
        color: inherit;
    }
    .facet-item a::before {
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        width: 1.5em;
        content: "\f0c8";
    }
    .facet-item .active a::before {
        content: "\f14a";
    }

    .facet-see-more {
        /* text-align: right; */
        margin: 0.5em 0
    }
    .facet-see-more-or-less {
        display: inline-block;
        background: initial;
        border: none;
        box-shadow: initial;
        text-align: center;
        cursor: pointer;
        padding: 6px 10px;
        margin: 0;
    }
    .facet-see-more-or-less::after {
        margin-left: 6px;
    }
    .facet-see-more-or-less.expand::after {
        content: "🞃";
    }
    .facet-see-more-or-less.collapse::after {
        content: "🞁";
    }

    /* Search range */
    /* The color of the slider is managed via js with linear-gradient. */

    .range-double {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 1em auto;
    }
    .range-double .range-sliders {
        position: relative;
    }
    .range-double input[type=range] {
        -webkit-appearance: none;
        appearance: none;
        height: 6px;
        width: 100%;
        position: absolute;
        pointer-events: none;
    }
    .range-double input[type=range]::-moz-range-thumb,
    .range-double input[type=range]::-webkit-slider-thumb {
        pointer-events: all;
        cursor: pointer;
    }
    .range-double input.range-slider-from[type=range] {
        z-index: 1;
        background-color: rgba(0,0,0,0);
    }
    .range-double input.range-slider-to[type=range] {
        background-color: #e9e9ed;
    }
    .range-double .range-numerics {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .range-double input[type=number] {
        border: none;
    }
    #search-facets .range-double .range-numerics {
        flex-wrap: nowrap;
    }
    #search-facets .range-double .range-numeric {
        width: 50%;
    }
    #search-facets .range-double .range-numeric input {
        width:  100%;
    }

    /* Autocomplete */

    .autocomplete-suggestions {
        border: 1px solid #999999;
        background: #ffffff;
        overflow: auto;
    }
    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
        /* Fix safari */
        cursor: pointer;
    }
    .autocomplete-selected {
        background: #f0f0f0;
    }
    .autocomplete-suggestions strong {
        font-weight: normal;
        color: #3399FF;
    }
    .autocomplete-group {
        padding: 2px 5px;
    }
    .autocomplete-group strong {
        display: block;
        border-bottom: 1px solid #000;
    }

    /* Breadcrumbs */

    nav.breadcrumbs > ul,
    nav.breadcrumbs > ol {
        list-style: none;
    }
    nav.breadcrumbs > ul > li,
    nav.breadcrumbs > ol > li {
        display: inline;
    }
}
